$meas-border-null: 0 !default;
$meas-bord-null: 0 !default;
$border-null: 0 !default;

$meas-bord-0: 0px !default;
$meas-bord-1: 1px !default;
$meas-bord-2: 2px !default;
$meas-bord-3: 3px !default;
$meas-bord-4: 4px !default;
$meas-bord-5: 5px !default;
$meas-bord-6: 6px !default;
$meas-bord-7: 7px !default;
$meas-bord-8: 8px !default;
$meas-bord-10: 10px !default;
$meas-bord-12: 12px !default;
$meas-bord-15: 15px !default;
$meas-bord-17: 17px !default;
$meas-bord-20: 20px !default;
$meas-bord-25: 25px !default;
$meas-bord-35: 35px !default;

$link-text-decoration: underline !default;
$link-hover-text-decoration: underline !default;