$meas-marg-per-17: percentage(0.17) !default;
$meas-marg-0: 0px !default;
$meas-marg-1: 1px !default;
$meas-marg-2: 2px !default;
$meas-marg-3: 3px !default;
$meas-marg-4: 4px !default;
$meas-marg-5: 5px !default;
$meas-marg-7: 7px !default;
$meas-marg-8: 8px !default;
$meas-marg-9: 9px !default;
$meas-marg-10: 10px !default;
$meas-marg-12: 12px !default;
$meas-marg-13: 13px !default;
$meas-marg-15: 15px !default;
$meas-marg-18: 18px !default;
$meas-marg-19: 19px !default;
$meas-marg-20: 20px !default;
$meas-marg-22: 22px !default;
$meas-marg-23: 23px !default;
$meas-marg-24: 24px !default;
$meas-marg-25: 25px !default;
$meas-marg-34: 34px !default;
$meas-marg-35: 35px !default;
$meas-marg-40: 40px !default;
$meas-marg-48: 48px !default;
$meas-marg-50: 50px !default;
$meas-marg-60: 60px !default;
$meas-marg-75: 75px !default;
$meas-marg-80: 80px !default;
$meas-marg-100: 100px !default;
$meas-marg-120: 120px !default;
$meas-marg-150: 150px !default;
$meas-marg-200: 200px !default;
$meas-marg-230: 230px !default;
$meas-marg-250: 250px !default;
