$meas-full:      100% !default;
$meas-half:      50% !default;
$meas-full-vh:      100vh !default;
$meas-full-vw:      100vw !default;

$meas-0: 0px !default;
$meas-1: 1px !default;
$meas-2: 2px !default;
$meas-4: 4px !default;
$meas-5: 5px !default;
$meas-8: 8px !default;
$meas-10: 10px !default;
$meas-12: 12px !default;
$meas-15: 15px !default;
$meas-16: 16px !default;
$meas-17: 17px !default;
$meas-18: 18px !default;
$meas-20: 20px !default;
$meas-22: 22px !default;
$meas-25: 25px !default;
$meas-30: 30px !default;
$meas-34: 34px !default;
$meas-35: 35px !default;
$meas-40: 40px !default;
$meas-45: 45px !default;
$meas-48: 48px !default;
$meas-50: 50px !default;
$meas-52: 52px !default;
$meas-56: 56px !default;
$meas-60: 60px !default;
$meas-70: 70px !default;
$meas-80: 80px !default;
$meas-90: 90px !default;
$meas-100: 100px !default;
$meas-110: 110px !default;
$meas-120: 120px !default;
$meas-130: 130px !default;
$meas-140: 150px !default;
$meas-150: 150px !default;
$meas-180: 180px !default;
$meas-190: 190px !default;
$meas-200: 200px !default;
$meas-220: 220px !default;
$meas-230: 230px !default;
$meas-250: 250px !default;
$meas-270: 270px !default;
$meas-290: 290px !default;
$meas-290: 290px !default;
$meas-300: 300px !default;
$meas-350: 350px !default;
$meas-400: 400px !default;
$meas-450: 450px !default;
$meas-600: 600px !default;
$meas-750: 750px !default;
$meas-800: 800px !default;
$meas-1000: 1000px !default;
$meas-1500: 1500px !default;
$meas-2500: 2500px !default;


$side-menu-icon-min-width: $meas-20 !default;
$side-menu-icon-max-width: auto !default;
$side-menu-icon-min-height: auto !default;

$autocomplete-clear-button-width: $meas-20 !default;
$autocomplete-clear-button-height: $meas-20 !default;
$autocomplete-clear-button-min-height: $meas-20 !default;

$autocomplete-extra-link-min-width: $meas-20 !default;
$autocomplete-extra-link-min-height: $meas-20 !default;
