$meas-pad-per-10: percentage(0.10) !default;
$meas-pad-0: 0px !default;
$meas-pad-1: 1px !default;
$meas-pad-2: 2px !default;
$meas-pad-3: 3px !default;
$meas-pad-4: 4px !default;
$meas-pad-5: 5px !default;
$meas-pad-6: 6px !default;
$meas-pad-7: 7px !default;
$meas-pad-8: 8px !default;
$meas-pad-10: 10px !default;
$meas-pad-11: 11px !default;
$meas-pad-12: 12px !default;
$meas-pad-13: 13px !default;
$meas-pad-14: 14px !default;
$meas-pad-15: 15px !default;
$meas-pad-16: 16px !default;
$meas-pad-18: 18px !default;
$meas-pad-20: 20px !default;
$meas-pad-25: 25px !default;
$meas-pad-35: 35px !default;
$meas-pad-44: 44px !default;
$meas-pad-45: 45px !default;
$meas-pad-55: 55px !default;
$meas-pad-60: 60px !default;
$meas-pad-70: 70px !default;
$meas-pad-83: 83px !default;


$side-menu-a-pad: $meas-pad-10 !default;
$side-menu-p-left-pad: $meas-pad-10 !default;
$side-menu-p-top-pad: $meas-pad-0 !default;

$autocomplete-clear-button-padding: $meas-pad-0 !default;
$autocomplete-extra-link-padding: $meas-pad-0 !default;
